<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layouts/layout}">
        <main layout:fragment="content" class="main">
            <section class="page-info-section set-bg" th:data-setbg="${game.img}">
                <div class="pi-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 text-white">
                                <h2 th:text="${game.gName} + ' 구매가 완료 되었습니다.'"></h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
</html>