<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
</head>
<body>
	<p>나는 행복합니다~ 나는 행복합니다~~</p>
	<p>나는 행복합니다~! 한화라서 행복합니다~</p>
	<p>나는 행복합니다~ 한화라서 행복합니다~~~~</p>
	<p>으나바보</p>
	<p>으나바보</p>
	<p>으나바보</p>
	<!-- 태그 내부 텍스트를 출력	-->
	<p th:text="${data}">hello!</p>
	<p th:text="${result} + '년입니다.'"></p>
	<!-- th:text를 사용하지 않고 값을 찍을 때	-->
	[[${data}]]
	<p>[[${result} + '년']]</p>
</body>
</html>